.vscode/
.env
InferBugs.code-workspace
__pycache__/


actions/test/testDataset/cassandra/cassandra
actions/test/testDataset/MethodLevelBugPredictionDataset
actions/test/testDataset/ant/ant
results/
models/
datasets/
.csv
.txt
.log