results/
models/
datasets/
.vscode/
.env
InferBugs.code-workspace
__pycache__/
repository/
actions/test/testDataset/cassandra/cassandra
actions/test/testDataset/MethodLevelBugPredictionDataset
actions/test/testDataset/ant/ant